<% unless @query.blank? %>
  <div class="alert alert-success alert-dismissible" role='alert'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>"<%= @query %>":</strong> 找到 <%= @documents.count %> 个文件
  </div>
<% end %>

<h2>文件列表
  <% unless @leader_id.blank? %>
    - <%= Leader.find(@leader_id).name %>
<% end %>

<%= link_to '新增', new_document_path, class: 'btn btn-primary' %>
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>收文字号</th>
      <th>文号</th>
      <th>文件标题</th>
      <th>签批领导</th>
      <th>批示总计</th>
      <th>最后更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.number %></td>
        <td><%= document.self_number %></td>
        <td><%= link_to document.title, document %></td>
        <td><%= document.locations.any? ? document.locations.order(created_at: :desc).first.leader.name : '无' %></td>
        <td><%= document.instructions.count %> <span class="label label-<%= level(document.instructions.count(:deadline)) %>">待办 <%= document.instructions.count(:deadline) %></span></td>
        <td><%= document.updated_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
