<div class="row">
  <div class="col-md-4" id='fileinfo'>

    <div class="panel panel-default">
      <div class="panel-heading">文件信息<%= link_to '修改', edit_document_path(@document), class: 'pull-right' %></div>
      <div class="panel-body">
        <p><%= @document.title %></p>
        <p class='little'>
          <%= @document.number %>
        </p>
          <p class='little'>
            <%= @document.self_number %>
          </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        流程日志
      </div>
      <div class="panel-body">
        <ul class="loc-history">
          <% @document.locations.order(created_at: :desc).each do |loc| %>
            <li>
            <%= loc.created_at.to_datetime.to_date %>
            <span class="pull-right"><%= loc.leader.name %></span>
            </li>
          <% end %>
        </ul>
        <%= form_for([@document, @document.locations.build], html: { class: 'form-inline' }) do |f| %>
          <div class="form-group">
            <%= f.label :leader_id, '选择签批领导：' %>
            <%= f.collection_select :leader_id, Leader.order(:order), :id, :name, {}, class: 'form-control' %>
            <%= f.submit '更新', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-8" id='instructions'>
    <div class="panel panel-default">
      <div class="panel-heading">批示</div>
      <div class="panel-body">
        <%= form_for([@document, @instruction]) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', placeholder: '批示内容' %>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <%= f.collection_select :leader_id, Leader.order(:order), :id, :name, {}, class: 'form-control' %>
              <div class="input-group date">
                <%= f.text_field :deadline, class: 'form-control', placeholder: '截止日期（可选）'  %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
              <%= f.submit '添加', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
        <ul class='instruction-list'>
          <% @document.instructions.order(created_at: :desc).each do |instruction| %>
            <li id="instruction-<%= instruction.id %>">
              <span class='leader'><%= link_to instruction.leader.name, instruction.leader %></span>
              <span class='content'><%= instruction.content %></span>
              <span class='timestamp'><%= instruction.created_at.to_date %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
