<div class="row">
  <div class="col-md-4" id='fileinfo'>

    <div class="panel panel-default">
      <div class="panel-heading">文件信息<%= link_to '编辑', edit_document_path(@document), class: 'pull-right' %></div>
      <div class="panel-body">
        <p><%= @document.title %></p>
        <p class='little'>
        <%= @document.number %>
        </p>
        <p class='little'>
        <%= @document.self_number %>
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        流程日志
      </div>
      <div class="panel-body">
        <ul class="loc-history">
          <% @document.locations.order(created_at: :desc).each do |loc| %>
            <li>
              <%= loc.created_at.to_datetime.to_date %>
              <span class="pull-right"><%= loc.leader.name %></span>
            </li>
          <% end %>
        </ul>
        <%= form_for([@document, @document.locations.build], html: { class: 'form-inline' }) do |f| %>
          <div class="form-group">
            <%= f.label :leader_id, '选择签批领导：' %>
            <%= f.collection_select :leader_id, Leader.order(:order), :id, :name, {}, class: 'form-control' %>
            <%= f.submit '更新', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-8" id='instructions'>
    <div class="panel panel-default">
      <div class="panel-heading">批示</div>
      <div class="panel-body">
        <%= render 'instructions/form', submit: nil %>
        <ul class='instruction-list'>
          <%= render @document.instructions.order(created_at: :desc) %>
        </ul>
      </div>
    </div>
  </div>
</div>
