<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'DCS', '/', class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to '文件', documents_path %></li>
      <li><%= link_to '批示', instructions_path %></li>
      <li><%= link_to '领导', leaders_path %></li>
      <li><%= link_to '资料', '#' %></li>
    </ul>
    <form class="navbar-form" action="/documents">
      <div class="input-group">
        <input class="form-control" name='search' type="text" placeholder='搜索'>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</header>
