<!DOCTYPE html>
<html>
  <head>
    <title>文件流转系统</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= render 'layouts/shim' %> 
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" id="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-dismissible alert-<%= message_type %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
